.App {
  padding: 0px 32px;
  transition: 2s;
}

.App .main-heading {
  background-color: #eaf0f1;
  text-align: center;
  font-weight: 400;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 6px 10px 34px -7px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 6px 10px 34px -7px rgba(0, 0, 0, 0.31);
  box-shadow: 6px 10px 34px -7px rgba(0, 0, 0, 0.31);
}

.container .questionLength .submitButton {
  padding: 10px 20px;
  border: none;
  background-color: #3d5afe;
  color: white;
}
.container .questionLength .inputBox {
  padding: 10px 20px;
  background-color: #d1c4e9;
  border: none;
}

.questionLength p {
  margin: 0;
  padding: 0;
}

/* CSS FOR ADMIN SIDE QUESTIONS */
.questionContainer {
  background-color: #e3f2fd;
  border-radius: 10px;
  padding: 1px 20px;
  margin: 10px 0px;
}
.questionContainer h5 {
  margin-bottom: 5px;
}

.questionContainer .form .textValue {
  margin: 15px 0px;
  padding: 5px 10px;
  background-color: #2196f3;
  color: white;
  border: none;
}
.questionContainer .form .textValue::placeholder {
  color: whitesmoke;
}

/* CSS FOR CANDIDATE SIDE QUESTIONS */
.candidateContainer {
  padding: 10px;
  margin: 20px 0px;
  border-radius: 10px;
  background: #2b2b52;
  color: white;
  box-shadow: 5px 5px 0px #7b8389, -5px -5px 0px #ffffff;
}

/* IMP Full Forms */
.fullform-container {
  margin: 100px 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaf0f1;
  border-radius: 5px;
  padding: 0px 10px;
}
.fullform-container .fullforms p {
  font-size: 12px;
}

/* 404 Container */
.four-o-four-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.four-o-four-container img {
  height: 110px;
  width: 210px;
}
